@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Mona Sans';
    src:
      url('../font/Mona-Sans.woff2') format('woff2 supports variations'),
      url('../font/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

  h1 {
    font-family: 'Mona Sans';
    font-weight: 600;
    font-stretch: 100%;
    transition: all 0.5s ease-in-out;
  }
  h1:hover {
    font-weight: 800;
    font-stretch: 125%;
  }

}